a {
	text-decoration: underline;
}

.page-content {
	text-align: justify;
}

.page-content h1,h2,h3,h4,h5,h6 {
	text-align: left;
}
#contact-menu li {
	display: inline;
	padding: 5px;
}

.masthead a {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	text-decoration: none;
 }
 .masthead a:hover {
	 color: #7a7a7a;
	 text-decoration: none;
 }

a.tweet-button {
	color: #33CCFF;
	text-decoration:none;
}
