<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="{% assign lang = page.lang  %}{{lang}}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">
		<base target="_blank">

		<title>
			{% if page.title %}{{ page.title }} &middot; {% endif %}
			{{ site.tagline }}
		</title>

		<link rel="stylesheet" href="/css/hyde.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-47004289-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();

		 </script>
	 </head>
	<body>

		<header class="masthead">
		<div class="masthead-inner">
			<a href="{{ site.nav[lang].articles.url }}" target="_self"><h1>Pedro Vereza</h1></a>

			<ul class="colophon-links">
				<li><a href="{{ site.nav[lang].about.url }}" target="_self">{{ site.nav[lang].about.title }}</a></li>

				<li><a href="{{ site.nav[lang].articles.url }}" target="_self">{{site.nav[lang].articles.title}}</a></li>
			</ul>

			<div class="colophon">
				<ul id="contact-menu" class="colophon-links">
					<li><a href="https://github.com/pedrovereza"><i class="fa fa-github-square fa-2x"></i></a></li>
					<li><a href="https://facebook.com/pdrgabriel"><i class="fa fa-facebook-square fa-2x"></i></a></li>
					<li><a href="https://twitter.com/pdrgabriel"><i class="fa fa-twitter-square fa-2x"></i></a></li>
					<li><a href="{{site.url}}/feed/atom.xml"><i class="fa fa-rss-square fa-2x"></i></a></li>
				</ul>
				<p>pdrvereza@gmail.com</p>
			</div>
		</div>
		</header>

		<div class="page-content content container">
			{% if page.trans %}
			<a href="{{ page.trans }}" target="_self">{{site.nav[page.lang].translation}}</a>
			{% endif %}
			{{ content }}
		</div>
	</body>
</html>
